#MainFrame{
	left: 5px; 
	position: absolute; 
	top: 5px;
}
#first{
	left: 0px; 
	position: relative; 
	top: 0px; 
	cursor: default; 
	background-color: #00CCFF; 
	layer-background-color: #00CCFF; 
	border: 1px none #000000; 
	color: #FF0000; 
	font-weight: bold; 
	border-color: #00FF00; 
	border-width: 4px; 2px;2px;2px;
	border-style: outset; 
	padding: 2px; 
	margin: 2px; 
	text-align: center;
}

#second{
	left: -300px; 
	position: relative; 
	top: -1px; 
	cursor: default; 
	background-color: #00FF00; 
	layer-background-color: #00FF00; 
	border: 1px none #000000; 
	color: #0000FF; 
	font-weight: bold; 
	border-color: #FFFF00; 
	border-width: 4px; 2px;2px;2px;
	border-style: outset; 
	padding: 2px; 
	margin: 2px;
}

#third{
	left: -400px; 
	position: relative; 
	top: -2px; 
	cursor: default; 
	background-color: #00FF00; 
	layer-background-color: #00FF00; 
	border: 1px none #000000; 
	color: #0000FF; 
	font-weight: bold; 
	border-color: #FFFF00; 
	border-width: 4px; 2px;2px;2px;
	border-style: outset; 
	padding: 2px; 
	margin: 2px;
}

#fourth{
	left: -500px; 
	position: relative; 
	top: -3px; 
	cursor: default; 
	background-color: #00FF00; 
	layer-background-color: #00FF00; 
	border: 1px none #000000; 
	color: #0000FF; 
	font-weight: bold; 
	border-color: #FFFF00; 
	border-width: 4px; 2px;2px;2px;
	border-style: outset; 
	padding: 2px; 
	margin: 2px;
}